@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oxanium:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  margin: 0;
  font-family: sans-serif;
  background: #f5f5f5;
  color: #333;
  min-height: 100dvh;
  margin: auto;

  background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), 
                    url("../assets/img/login-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.navbar {
  text-align: center;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-position: left center;

  height: 80px;
  background-image: url("../assets/img/logo-unmsm.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-left: 10px;
}

.contenido {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
}

.contenido h2 {
  font-family: 'Oxanium', sans-serif;  
  font-weight: 700;
  font-size: 3.6rem;
  margin: 0px;
}

.contenido p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-family: 'Inter', sans-serif;
  width: 70%;
}

.btn:hover {
  background: #357ab8;
}
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(60,64,67,.3), 0 1px 2px rgba(60,64,67,.15);
  
  padding: 0 12px;
  height: 40px;
  cursor: pointer;

  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #3c4043;
  transition: background-color 0.2s, box-shadow 0.2s;
  text-decoration: none;
}

.google-btn:hover {
  background-color: #f7f8f8;
  box-shadow: 0 2px 6px rgba(60,64,67,.3), 0 2px 4px rgba(60,64,67,.15);
}

.google-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-icon {
  width: 18px;
  height: 18px;
}

.btn-text {
  margin: 0;
  font-weight: 500;
  color: #3c4043;
}
