@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oxanium:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/img/perfil1-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenido h2{
    font-family: 'Oxanium', sans-serif;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 60px;
}

.contenido p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
}

.perfil-button{
    position: absolute;
    bottom: 20px;
    right: 20px; 
}