body{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    font-family: sans-serif;
    background: #f5f5f5;
    margin: auto;

    background-color: #D5E6FF;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar{
    background-color: #987ACC;
    height: 100px;
}

.navbar p{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0px 20px 0px 0px;
}

.progress-bar {
  width: 90%;
  margin: 10px auto 15px auto;
  height: 14px;
  background: #D7D7D7;
  border-radius: 64px;
  overflow: hidden;
}

.progress-bar-green {
  height: 100%;
  background: #68B268;
  border-radius: 64px;
}

.inner-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.inner-navbar p{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Anek Malayalam', sans-serif;
    margin: 0px;
}

.inner-navbar img{
    height: 20px;
    width: auto;
    
}

.container-text2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 5px solid #CD8EC6;
    border-radius: 32px;
    background-color: #FFC4F9;
    width: 220px;
    margin: 10px 10px 0px 10px;
}

.container-text2 p{
    width: 90%;
    font-family: 'Jeju Gothic', sans-serif;
    line-height: 1.3;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

.perfil-button{
    position: absolute;
    bottom: 20px;
    right: 20px; 
}

.otrodiv{
    height: 100px;
}

.otrodiv img{
    height: 120px;
    width: auto;
}

.divrobotsito{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 100px;
}

.divrobotsito img{
    height: 80px;
    width: auto;
}

.otrodiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    height: 120px;
    width: 90%;
}

.opciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}

.opcionsita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #81CAFF;
    height: 40px;
    width: 140px;
    border-radius: 32px;
    border: 5px solid #53ADEF;
}  

.opcionsita p{
    font-family: 'Jeju Gothic', sans-serif;
}

.otrodivsito{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.otrodivsito img{
    height: 140px;
    width: auto;
}

.divsitointerno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}